{# header document DOCTYPE #}
{% extends "layouts/master.twig" %}

{% block title %}Home Page
{% endblock %}
{# header document DOCTYPE #}


{% block main %}

	<div class="container">
		<div class="form-new-password">
			<h2>Entrer votre nouveau mot de passe</h2>

			<form method="POST" action="{{url_for('changemdp')}}">
				{{csrf() | raw }}
				<input type="hidden" value={{ token }} name="token">
				<div class="form-group">
					<label for="exampleInputPassword1">Nouveau mot de passe</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="newpassword">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Confimer mot de passe</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="newpassword" name="confpassword">
				</div>
				<button type="submit" class="btn btn-primary">Valider</button>
			</form>
		</div>
	</div>
{% endblock %}
